.advantages {
  width: 100%;
  position: relative;
  margin: 0 auto;
  min-height: 562px;

  @include vp-1023 {
    min-height: 588px;
  }

  @include vp-767 {
    min-height: 997px;
  }

  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin: 0;

    @include vp-1023 {
      font-size: 26px;
      line-height: 39px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 36px;
    }
  }
}

.advantages__background {
  width: 100%;
  height: 562px;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 0;
  z-index: -10;
  object-fit: cover;
  background-color: $color-background-grey;

  @include vp-1023 {
    height: 588px;
  }

  @include vp-767 {
    height: 997px;
  }
}

.advantages__wrapper {
  width: $desktop-content;
  margin: 0 auto;
  padding: 110px 0 45px 0;

  @include vp-1279 {
    width: auto;
    padding-left: $desktop-padding-asade;
    padding-right: $desktop-padding-asade;
  }

  @include vp-1023 {
    width: auto;
    padding: 90px 45px 45px 45px;
  }

  @include vp-767 {
    padding: 57px 15px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  flex-wrap: wrap;

  @include vp-1023 {
    margin-top: 50px;
    gap: 30px;
    grid-template-columns: auto auto auto;
  }

  @include vp-767 {
    margin-top: 30px;
    grid-template-columns: auto;
  }

  & > * {
    @include vp-1279 {
      flex: 1;
    }
  }
}

.advantages__item {
  width: 360px;
  min-height: 241px;
  box-sizing: border-box;
  padding: 80px 30px 25px 30px;
  position: relative;
  background-color: $color-extra-light-grey;
  flex-shrink: 1;

  @include vp-1279 {
    width: auto;
    min-width: 274px;
  }

  @include vp-1023 {
    width: auto;
    min-width: 206px;
    min-height: 310px;
    padding: 70px 15px 17px 20px;
  }

  @include vp-767 {
    min-height: 250px;
  }

  img {
    display: block;
    position: absolute;
    left: 30px;

    @include vp-1023 {
      left: 20px;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin: 0;

    @include vp-1023 {
      line-height: 25px;
    }

    br {
      display: none;

      @include vp-767 {
        display: block;
      }
    }
  }

  .advantages__item--allinclusive {
    p {
      br {
        display: block;

        @include vp-1023 {
          display: none;
        }
      }
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-top: 9px;
  }

  &--cruise {
    img {
      width: 27px;
      height: 32px;
      top: 30px;

      @include vp-1023 {
        width: 21px;
        height: 26px;
        top: 24px;
      }
    }
  }

  &--allinclusive {
    img {
      width: 38px;
      height: 21px;
      top: 35px;

      @include vp-1023 {
        width: 33px;
        height: 19px;
        top: 28px;
      }
    }
  }

  &--zodiac {
    img {
      width: 42px;
      height: 15px;
      top: 38px;

      @include vp-1023 {
        width: 38px;
        height: 13px;
        top: 31px;
      }
    }
  }
}
