.booking {
  position: relative;

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 555px;
    object-fit: cover;
    object-position: 50% 100%;
    z-index: -100;

    @include vp-1279 {
      height: 805px;
    }

    @include vp-767 {
      height: 760px;
      object-position: 50% 50%;
    }
  }
}

.booking__wrapper {
  width: $desktop-content;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  height: 555px;

  @include vp-1279 {
    width: auto;
    flex-direction: column;
    gap: 52px;
    padding-top: 90px;
    justify-content: start;
    height: 805px;
  }

  @include vp-767 {
    padding: 65px 15px 0 15px;
    gap: 40px;
    height: 760px;
  }
}

.booking__title {
  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin: 0;

    @include vp-1279 {
      font-size: 34px;
      line-height: 51px;
      text-align: center;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 31px;
      width: 250px;
      margin: 0 auto;
    }
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    width: 360px;
    margin: 0;
    margin-top: 10px;

    @include vp-1279 {
      margin: 0 auto;
      margin-top: 3px;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 22px;
      width: 260px;
      margin: 0 auto;
      margin-top: 25px;
    }
  }
}

.booking__form {
  width: 403px;
  height: 455px;
  padding: 50px;
  padding-top: 44px;
  box-sizing: border-box;
  background-color: $color-extra-dark;

  @include vp-767 {
    width: 290px;
    height: 460px;
    padding: 40px 30px;
  }

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-extra-light-grey;
    margin: 0;

    @include vp-767 {
      line-height: 25px;
      text-align: center;
    }
  }
}

.booking__form-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-top: 27px;
}

.booking__form-item {
  input {
    border: none;
    background-color: $color-extra-light-grey;
    padding: 13px 16px;
    width: 100%;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: $color-placeholder-text;
    }
  }
}

.booking__checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;

  label {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: $color-extra-light-grey;
    padding-left: 23px;

    @include vp-767 {
      line-height: 12px;
      width: 162px;
    }
  }

  input {
    display: none;
  }

  input + label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    background-color: $color-extra-light-grey;

    background-image: url("../../img/booking/checkbox-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 6px;
  }

  input:not(:checked) + label::before {
    background-image: none;
  }
}
