.cruises {
  width: $desktop-content;
  box-sizing: border-box;
  padding: 110px 15px 120px 15px;
  margin: 0 auto;
  position: relative;

  @include vp-1279 {
    width: auto;
    padding: 90px 60px 100px 60px;
  }

  @include vp-767 {
    padding: 65px 25px;
  }

  h2 {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    @include vp-1279 {
      font-size: 26px;
      line-height: 39px;
    }

    @include vp-767 {
      font-size: 24px;
      height: 36px;
    }
  }
}

.cruises__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  @include vp-1279 {
    margin-top: 49px;
    justify-content: center;
  }
}

.cruises__item {
  width: 260px;
  height: 386px;
  position: relative;

  @include vp-1279 {
    width: 309px;
  }

  @include vp-767 {
    width: 270px;
  }

  h3 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-extra-light-grey;
    position: absolute;
    left: 30px;
    bottom: 22px;

    @include vp-1279 {
      bottom: 27px;
      left: 35px;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 260px;
    height: 386px;

    @include vp-1279 {
      width: 309px;
    }

    @include vp-767 {
      width: 270px;
    }
  }
}

.cruises__booking {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  min-height: 386px;
  background-color: $color-extra-dark;
  color: $color-extra-light-grey;
  padding: 28px 26px;

  &:focus-within {
    opacity: 1;
    pointer-events: auto;
    z-index: 100;
  }

  h3 {
    position: static;
  }
}

.cruises__booking-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 14px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.cruises__booking-item {
  h4 {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  p {
    margin: 0;
    margin-top: 1px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.cruises__item:hover .cruises__booking {
  opacity: 1;
  pointer-events: auto;
}
