.header {
  height: 650px;

  @include vp-1279 {
    height: 638px;
  }

  @include vp-767 {
    height: 500px;
  }

  img {
    position: absolute;
    width: 100vw;
    height: 650px;
    margin: 0 auto;
    z-index: -100;
    object-fit: cover;
    object-position: 50% 100%;

    @include vp-1279 {
      height: 638px;
    }

    @include vp-767 {
      height: 500px;
    }
  }
}

.header__wrapper {
  display: flex;
  padding: 35px 0;
  justify-content: space-between;
  width: $desktop-content;
  margin: 0 auto;

  @include vp-1279 {
    width: 768px;
    padding: $tablet-padding;
    box-sizing: border-box;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @include vp-767 {
    padding: 20px 15px;
  }
}

.header__logo {
  display: block;
  width: 70px;
  height: 38px;

  @include vp-1279 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.header__logo--hidden {
  display: none;
}

.header__nav {
  margin-right: 0;
  margin-left: auto;

  @include vp-767 {
    &--open {
      margin: 0;
      position: absolute;
      width: 280px;
      height: 100%;
      right: 0;
      top: 0;
      z-index: 10;
      background-color: $color-extra-light-grey;
      padding-top: 85px;
    }

    &--close {
      display: none;
    }

    &--nojs {
      display: block;
    }
  }
}

.header__nav::before {
  display: none;

  @include vp-767 {
    display: block;
    position: absolute;
    content: "";
    width: 42px;
    height: 22px;
    background: url("/img/header/menu-icon.svg") no-repeat;
    top: 20px;
    left: 15px;
  }
}

.header__nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 33px;
  flex-wrap: wrap;

  @include vp-1279 {
    gap: 23px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 10px;
    padding-left: 25px;
  }
}

.header__nav-item {
  list-style: none;

  & a {
    display: block;
    font-family: $ff-montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $color-extra-light-grey;

    @include vp-1279 {
      font-size: 14px;
      line-height: 17px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
      color: $color-extra-dark;
      padding: 10px;
    }
  }
}

.header__promo {
  width: $desktop-content;
  margin: 0 auto;
  padding-left: 95px;

  @include vp-1279 {
    width: auto;
    margin-left: 0;
    padding: 0 45px;
  }

  h2 {
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    color: $color-extra-light-grey;
    margin: 0;
    margin-top: 210px;

    @include vp-1279 {
      font-size: 50px;
      line-height: 61px;
      margin-top: 230px;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 45px;
    }
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $color-extra-light-grey;
    margin: 0;
    margin-top: 30px;

    @include vp-1279 {
      font-size: 18px;
      line-height: 22px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.header__toggle {
  display: none;

  @include vp-767 {
    display: block;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 15px;
    background-color: transparent;
  }
}

.header__toggle--nojs {
  display: none;
}

.header__toggle--close {
  width: 24px;
  height: 12px;
  background-image: url("../img/header/burger.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  z-index: 100;
}

.header__toggle--open {
  width: 13px;
  height: 13px;
  background-image: url("../img/header/close.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  z-index: 100;
}
