// regular
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/montserrat-regular-400.woff2") format("woff2"),
    url("../fonts/montserrat-regular-400.woff") format("woff");
}


// medium
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/montserrat-medium-500.woff2") format("woff2"),
    url("../fonts/montserrat-medium-500.woff") format("woff");
}


// semi-bold
@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/montserrat-semi-bold-600.woff2") format("woff2"),
    url("../fonts/montserrat-semi-bold-600.woff") format("woff");
}


// bold
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat";

  font-display: swap;
  src:
    url("../fonts/montserrat-bold-700.woff2") format("woff2"),
    url("../fonts/montserrat-bold-700.woff") format("woff");
}
